# Build
*.apk
*.aab
*.ipa
android/app/build/
android/.gradle/
android/build/
android/capacitor-cordova-android-plugins/
android/local.properties
ios/App/build/
ios/App/Pods/
ios/App/.build/
*.apk
*.aab
*.ipa
